<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <link rel="stylesheet" href="text.css">
 <title>March Madness 2021 Tournament</title>
    {% load static %}

    <link rel= "stylesheet" href="{%static 'scoreStyle.css' %}">
    <link rel="stylesheet" href="{%static 'bracketStyle.css'%}">
 </head>
 <body>

<div id="container">
        <div id="logo">Method</div>
        <div id="navbar">
            <ul>
                <li><a href="/accounts/login/home/{{user.id}}">Home</a></li>
                <li><a href="/scores/{{user.id}}">Scores</a></li>
             <li><a href="/myBracket/{{user.id}}">My Brackets</a></li>
                <li><a href="/teams/{{user.id}}">Teams</a></li>
                <li><a href="/news/{{user.id}}">News</a></li>
                <li id="login"><a href="{% url 'home' %}">Logout</a></li>
        </div>
 </div>

<h1>Here are your brackets: </h1>
{% for bracket in brackets %}



<header>
 <!--<div class='half-circle-container'>
 <div class='half-circle top-circle'>
 <div></div>
 </div>
 </div>-->
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <link rel="stylesheet" href="text2.css">
 <div class='header-text'>
 <h1>{{bracket.bracket_name}}
 </h1>
 </div>

 Selected Stats: Most Important: {{bracket.stat1}} Second Most Important: {{bracket.stat2}}
 Third Most Important: {{bracket.stat3}} Fourth Most Important: {{bracket.stat4}} Fifth Most Important: {{bracket.stat5}}

 <div class='tournament tournament-header'>
 <ul class='round'>
 <li>First Round</li>
 <li>Mar 19-20</li>
 </ul>
 <ul class='round'>
 <li>Second Round</li>
 <li>Mar 21-22</li>
 </ul>
 <ul class='round'>
 <li>Sweet 16</li>
 <li>Mar 27-28</li>
 </ul>
 <ul class='round'>
 <li>Elite 8</li>
 <li>Mar 24-26</li>
 </ul>
 <ul class='round'>
 <li>Final 4</li>
 <li>Apr 1 at Indianpolis, IN</li>
 </ul>
 <ul class='round'>
 </ul>
 <ul class='round'>
 <li>National Championship</li>
 <li>Apr 5 at Indianapolis, IN</li>
 </ul>
 <ul class='round'>
 </ul>
 <ul class='round'>
 <li>Final 4</li>
 <li>Apr 3 at Indianapolis, IN</li>
 </ul>
 <ul class='round'>
 <li>Elite 8</li>
 <li>Mar 29-30</li>
 </ul>
 <ul class='round'>
 <li>Sweet 16</li>
 <li>Mar 27-28</li>
 </ul>
 <ul class='round'>
 <li>Second Round</li>
 <li>Mar 21-22</li>
 </ul>
 <ul class='round'>
 <li>First Round</li>
 <li>Mar 19-20</li>
 </ul>
 </div>
 <div class='tournament'>
 <ul class='round seed'>
 <li class='spacer'>&hellip;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket.0}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> {{bracket.1}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket.2}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> </span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> &hellip;</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> </span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span> </span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> &hellip;</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> </span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span> </span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> </span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span> </span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span> </span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span> </span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> </span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span> </span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> &hellip;</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span> </span>
 </li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-1'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'> ...</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'> </li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'> </li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'> </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'> </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'> </li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-2'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'> </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'> </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-3'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer region region-right'>East</li>
 <li class='game-left game-bottom'> </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='game-left spacer region region-right'>West</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-4'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'> </li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round semi-final'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round finals'>
 <li class='spacer'>&nbsp;</li>
 <li class='game final'> </li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round semi-final'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> </li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-4'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'> </li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-3'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer region region-left'>Midwest</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> </li>
 <li class='game-right spacer region region-left'>South</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-2'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> </li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-1'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'> </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> </li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> </li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> </li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> &hellip;</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'></li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'> </li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'></li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round seed'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> &hellip;</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span> </span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span> </span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> &hellip;</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span></span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> &hellip;</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span> </span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span></span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>Team</span>
 <span><span>
 </li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 </div>
 </section>



{% endfor %}



