<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <style>
            .button {
            display: inline-block;
            width: 100px;
            height: 50px;
            padding: 10px;
            text-align: center;
            border: black;
            background-color: #165397;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
        }
.divider{
    width:100px;
    height:50px;
    display:inline-block;
}
        </style>
        <meta charset="UTF-8">
        <title>Create Team Page</title>
        {% load static %}
        <link rel= "stylesheet" href="{%static 'style1.css' %}">
    </head>
    <body>
        <div class="center">
            <h1>Create Team</h1>
            <form method="GET" >
                {% csrf_token %}
                <div class="txt_field">
                    <input id="team_name" type="text" name="team_name" required>
                    <label>Team Name</label>
                </div>
                <div class="number">
                    <label>Number of Members</label>
                    <select name="num_members" id="num_members">
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                      </select>
                </div>
                <div class="divider"> </div>
                <button class = "button", onclick="createTeam(request)" >Submit</button>
                 <div class="signup_link">
                    <a href="/jointeam/{{user.id}}">What to join an existing team? Click Here</a>
                </div>
                <div class="signup_link">
                    <a href="/teams/{{user.id}}">Cancel</a>
                </div>
            </form>
        </div>

    </body>
</html>