<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel= "stylesheet" href="{%static 'scoreStyle.css' %}">
    <link rel="stylesheet" href="{%static 'bracketStyle.css'%}">
 </head>
<style>
#backbtn{
position: absolute;
left:20px;
top:20px;
background: #165397;
border-radius: 4px;
font-family: "Arial", Impact, Charcoal, sans-serif;
font-weight: bold;
font-size:20px;
color: white;
}
</style>
<body>

<button id="backbtn" class="buttnStyle" onclick="document.location.href = '/myBracket/{{user.id}}'">Back</button>

<div class="text-box">
        <h1> Edit your bracket, {{name}} </h1>
       <p>Edit any of your statistics and press submit to generate a new bracket. Change the name of your bracket
       at the bottom of the page. </p>
</div>


<form method="GET">
<div class="text-box">
    <label for="stat1"></label>
<select name="stat1" id="stat1" required>
 <option value={{stats.0}} selected disabled hidden>
          {{stats.0}}
  <option value="FG">Field Goals Per Game</option>
  <option value="FGA">Field Goal Attempts Per Game</option>
    <option value="FG%">Field Goal Percentage</option>
  <option value="2P">2-Point Field Goals Per Game</option>
  <option value="2PA">2-Point Field Goal Attempts Per Game</option>
  <option value="2P%">2-Point Field Goal Percentage</option>
  <option value="3P">3-Point Field Goals Per Game</option>
  <option value="3PA">3-Point Field Goal Attempts Per Game</option>
  <option value="3P%">3-Point Field Goal Percentage</option>
    <option value="FT">Free Throws Per Game</option>
  <option value="FTA">Free Throw Attempts Per Game</option>
  <option value="FT%">Free Throw Percentage</option>
  <option value="ORB">Offensive Rebounds Per Game</option>
  <option value="DRB">Defensive Rebounds Per Game</option>
    <option value="TRB">Total Rebounds Per Game</option>
  <option value="AST">Assists Per Game</option>
  <option value="STL">Steals Per Game</option>
  <option value="BLK">Blocks Per Game</option>
    <option value="TOV">Turnovers Per Game</option>
    <option value="PF">Personal Fouls Per Game</option>
    <option value="PTS">Points Per Game</option>
</select>
</div>
 <div class="text-box">
 <select name="stat2" id="stat2" required>
 <option value={{stats.1}} selected disabled hidden>
          {{stats.1}}
  <option value="FG">Field Goals Per Game</option>
  <option value="FGA">Field Goal Attempts Per Game</option>
    <option value="FG%">Field Goal Percentage</option>
  <option value="2P">2-Point Field Goals Per Game</option>
  <option value="2PA">2-Point Field Goal Attempts Per Game</option>
  <option value="2P%">2-Point Field Goal Percentage</option>
  <option value="3P">3-Point Field Goals Per Game</option>
  <option value="3PA">3-Point Field Goal Attempts Per Game</option>
  <option value="3P%">3-Point Field Goal Percentage</option>
    <option value="FT">Free Throws Per Game</option>
  <option value="FTA">Free Throw Attempts Per Game</option>
  <option value="FT%">Free Throw Percentage</option>
  <option value="ORB">Offensive Rebounds Per Game</option>
  <option value="DRB">Defensive Rebounds Per Game</option>
    <option value="TRB">Total Rebounds Per Game</option>
  <option value="AST">Assists Per Game</option>
  <option value="STL">Steals Per Game</option>
  <option value="BLK">Blocks Per Game</option>
    <option value="TOV">Turnovers Per Game</option>
    <option value="PF">Personal Fouls Per Game</option>
    <option value="PTS">Points Per Game</option>
  <option value="None">None</option>
</select>
 </div>
 <div class="text-box">
 <select name="stat3" id="stat3" required>
 <option value={{stats.2}} selected disabled hidden>
          {{stats.2}}
  <option value="FG">Field Goals Per Game</option>
  <option value="FGA">Field Goal Attempts Per Game</option>
    <option value="FG%">Field Goal Percentage</option>
  <option value="2P">2-Point Field Goals Per Game</option>
  <option value="2PA">2-Point Field Goal Attempts Per Game</option>
  <option value="2P%">2-Point Field Goal Percentage</option>
  <option value="3P">3-Point Field Goals Per Game</option>
  <option value="3PA">3-Point Field Goal Attempts Per Game</option>
  <option value="3P%">3-Point Field Goal Percentage</option>
    <option value="FT">Free Throws Per Game</option>
  <option value="FTA">Free Throw Attempts Per Game</option>
  <option value="FT%">Free Throw Percentage</option>
  <option value="ORB">Offensive Rebounds Per Game</option>
  <option value="DRB">Defensive Rebounds Per Game</option>
    <option value="TRB">Total Rebounds Per Game</option>
  <option value="AST">Assists Per Game</option>
  <option value="STL">Steals Per Game</option>
  <option value="BLK">Blocks Per Game</option>
    <option value="TOV">Turnovers Per Game</option>
    <option value="PF">Personal Fouls Per Game</option>
    <option value="PTS">Points Per Game</option>
   <option value="None">None</option>
</select>
 </div>
 <div class="text-box">
 <select name="stat4" id="stat4" required>
 <option value={{stats.3}} selected disabled hidden>
          {{stats.3}}
  <option value="FG">Field Goals Per Game</option>
  <option value="FGA">Field Goal Attempts Per Game</option>
    <option value="FG%">Field Goal Percentage</option>
  <option value="2P">2-Point Field Goals Per Game</option>
  <option value="2PA">2-Point Field Goal Attempts Per Game</option>
  <option value="2P%">2-Point Field Goal Percentage</option>
  <option value="3P">3-Point Field Goals Per Game</option>
  <option value="3PA">3-Point Field Goal Attempts Per Game</option>
  <option value="3P%">3-Point Field Goal Percentage</option>
    <option value="FT">Free Throws Per Game</option>
  <option value="FTA">Free Throw Attempts Per Game</option>
  <option value="FT%">Free Throw Percentage</option>
  <option value="ORB">Offensive Rebounds Per Game</option>
  <option value="DRB">Defensive Rebounds Per Game</option>
    <option value="TRB">Total Rebounds Per Game</option>
  <option value="AST">Assists Per Game</option>
  <option value="STL">Steals Per Game</option>
  <option value="BLK">Blocks Per Game</option>
    <option value="TOV">Turnovers Per Game</option>
    <option value="PF">Personal Fouls Per Game</option>
    <option value="PTS">Points Per Game</option>
  <option value="None">None</option>
 </select>
 </div>
 <div class="text-box">
 <select name="stat5" id="stat5" required>
 <option value={{stats.4}} selected disabled hidden>
          {{stats.4}}
  <option value="FG">Field Goals Per Game</option>
  <option value="FGA">Field Goal Attempts Per Game</option>
    <option value="FG%">Field Goal Percentage</option>
  <option value="2P">2-Point Field Goals Per Game</option>
  <option value="2PA">2-Point Field Goal Attempts Per Game</option>
  <option value="2P%">2-Point Field Goal Percentage</option>
  <option value="3P">3-Point Field Goals Per Game</option>
  <option value="3PA">3-Point Field Goal Attempts Per Game</option>
  <option value="3P%">3-Point Field Goal Percentage</option>
    <option value="FT">Free Throws Per Game</option>
  <option value="FTA">Free Throw Attempts Per Game</option>
  <option value="FT%">Free Throw Percentage</option>
  <option value="ORB">Offensive Rebounds Per Game</option>
  <option value="DRB">Defensive Rebounds Per Game</option>
    <option value="TRB">Total Rebounds Per Game</option>
  <option value="AST">Assists Per Game</option>
  <option value="STL">Steals Per Game</option>
  <option value="BLK">Blocks Per Game</option>
    <option value="TOV">Turnovers Per Game</option>
    <option value="PF">Personal Fouls Per Game</option>
    <option value="PTS">Points Per Game</option>
  <option value="None">None</option>
</select>
 </div>
<div class="text-box">
<!-- <input type="Submit" value="Generate bracket">-->
 <button onclick="createBracket(request)" style="height:25px; width:75px">Submit </button>
</div>

</form>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
{% endfor %}
{% endif %}
</div>

 <body>
 <header>

 <div class='header-text'>
  {% if updated %}
 <h1> Updated Stats: {{stats}}</h1>
  {% endif %}
 </div>
 <div class='half-circle-container'>
 <div class='half-circle bottom-circle'>
 <div></div>
 </div>
 </div>
 </header>
 <section>
 <div class='body-first-child tournament first-four'>
 <ul class='round seed'>
 <li class='game-left game-top'>
 <span>16</span>
 <span>Texas Southern</span>
 </li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>
 <span>16</span>
 <span>Mount St. Mary's</span>
 </li>
 </ul>
 <ul class='round first-four-winner'>
 <li class='game-left game-top'>
 <span>Texas Southern</span>
 </li>
 </ul>
 <ul class='round'>
 <li class='region region-left'>East</li>
 </ul>
 <ul class='round seed'>
 <li class='game-left game-top'>
 <span>11</span>
 <span>Michigan St</span>
 </li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>
 <span>11</span>
 <span>UCLA</span>
 </li>
 </ul>
 <ul class='round first-four-winner'>
 <li class='game-left game-top'>
 <span>UCLA</span>
 </li>
 </ul>
 <ul class='round'>
 <li class='region region-left'>East</li>
 </ul>
 <ul class='round'></ul>
 <ul class='round'>
 <li class='region region-right'>West</li>
 </ul>
 <ul class='round first-four-winner'>
 <li class='game-right game-top'>
 <span>Norfolk St.</span>
 </li>
 </ul>
 <ul class='round seed'>
 <li class='game-right game-top'>
 <span>Appalachian St</span>
 <span>16</span>
 </li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>
 <span>Norfolk St</span>
 <span>16</span>
 </li>
 </ul>
  <ul class='round'>
 <li class='region region-right'>West</li>
 </ul>
 <ul class='round first-four-winner'>
 <li class='game-right game-top'>
 <span>Wichita St</span>
 </li>
 </ul>
 <ul class='round seed'>
 <li class='game-right game-top'>
 <span>Wichita St</span>
 <span>11</span>
 </li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>
 <span>Drake</span>
 <span>11</span>
 </li>
 </ul>
 </div>
 <div class='tournament tournament-header'>
 <ul class='round'>
 <li>First Round</li>
 <li>Mar 19-20</li>
 </ul>
 <ul class='round'>
 <li>Second Round</li>
 <li>Mar 21-22</li>
 </ul>
 <ul class='round'>
 <li>Sweet 16</li>
 <li>Mar 27-28</li>
 </ul>
 <ul class='round'>
 <li>Elite 8</li>
 <li>Mar 29-30</li>
 </ul>
 <ul class='round'>
 <li>Final 4</li>
 <li>Apr 3 at Indianapolis, IN</li>
 </ul>
 <ul class='round'>
 </ul>
 <ul class='round'>
 <li>National Championship</li>
 <li>Apr 5 at Indianapolis, IN</li>
 </ul>
 <ul class='round'>
 </ul>
 <ul class='round'>
 <li>Final 4</li>
 <li>Apr 3 at Indianapolis, IN</li>
 </ul>
 <ul class='round'>
 <li>Elite 8</li>
 <li>Mar 29-30</li>
 </ul>
 <ul class='round'>
 <li>Sweet 16</li>
 <li>Mar 27-28</li>
 </ul>
 <ul class='round'>
 <li>Second Round</li>
 <li>Mar 21-22</li>
 </ul>
 <ul class='round'>
 <li>First Round</li>
 <li>Mar 19-20</li>
 </ul>
 </div>
 <div class='tournament'>
 <ul class='round seed'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.0}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.1}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.2}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.3}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.4}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.5}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.6}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.7}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.8}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.9}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.10}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.11}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.12}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.13}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.14}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.15}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.16}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.17}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.18}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.19}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.20}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.21}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.22}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.23}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.24}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.25}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.26}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.27}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.28}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.29}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>
 <span></span>
 <span>{{bracket_64.30}}</span>
 </li>
 <li class='game-left game-bottom'>
 <span></span>
 <span>{{bracket_64.31}}</span>
 </li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-1'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.0}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.1}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.2}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.3}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.4}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.5}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.6}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.7}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.8}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.9}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.10}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.11}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.12}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.13}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_32.14}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_32.15}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-2'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_16.0}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_16.1}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_16.2}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_16.3}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_16.4}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_16.5}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_16.6}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_16.7}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-3'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_8.0}}</li>
 <li class='game-left spacer region region-right'>West</li>
 <li class='game-left game-bottom'>{{bracket_8.1}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_8.2}}</li>
 <li class='game-left spacer region region-right'>East</li>
 <li class='game-left game-bottom'>{{bracket_8.3}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-4'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_4.0}}</li>
 <li class='game-left spacer'>&nbsp;</li>
 <li class='game-left game-bottom'>{{bracket_4.1}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round semi-final'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-left game-top'>{{bracket_2.0}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round finals'>
 <li class='spacer'>&nbsp;</li>
 <li class='game final'>{{winner}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round semi-final'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_2.1}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-4'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_4.2}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_4.3}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-3'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_8.4}}</li>
 <li class='game-right spacer region region-left'>South</li>
 <li class='game-right game-bottom'>{{bracket_8.5}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_8.6}}</li>
 <li class='game-right spacer region region-left'>Midwest</li>
 <li class='game-right game-bottom'>{{bracket_8.7}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-2'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_16.8}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_16.9}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_16.10}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_16.11}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_16.12}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_16.13}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_16.14}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_16.15}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round round-1'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.16}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.17}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.18}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.19}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.20}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.21}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.22}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.23}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.24}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.25}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.26}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.27}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.28}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.29}}</li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>{{bracket_32.30}}</li>
 <li class='game-right spacer'>&nbsp;</li>
 <li class='game-right game-bottom'>{{bracket_32.31}}</li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 <ul class='round seed'>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.32}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.33}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.34}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.35}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.36}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.37}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.38}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.39}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.40}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.41}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.42}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.43}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.44}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.45}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.46}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.47}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.48}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.49}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.50}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.51}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.52}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.53}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.54}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.55}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.56}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.57}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.58}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.59}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.60}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.61}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 <li class='game-right game-top'>
 <span>{{bracket_64.62}}</span>
 <span></span>
 </li>
 <li class='game-right game-bottom'>
 <span>{{bracket_64.63}}</span>
 <span></span>
 </li>
 <li class='spacer'>&nbsp;</li>
 </ul>
 </div>
 </section>


<div class="text-box">
<p>Click the update button to update your bracket.</p>
</div>
<p>  </p>
<form method="post">
    {% csrf_token %}

  <div class="text-box">
    <div class="txt_field">
        <input id="name" type="text" name="name" value={{name}} required>
        <label></label>
    </div>

    <input type="Submit" value="Update Bracket">
</form>






 </body>
</html>