
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Method</title>
    {% load static %}
    <link rel= "stylesheet" href="{%static 'style.css' %}">
</head>
<body>
    <div id="container">
        <div id="logo">Method</div>
        <div id="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Scores</a></li>
                <li><a href="#">My Picks</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">News</a></li>
                <li id="login"><a href="/accounts/login/">Login</a></li>
     
        </div>
        <div id= "image">
            <img src="{% static 'img/i.png'%}" alt="i png">
            
        </div>
    </div>
</body>
</html>