<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'style1.css'%}">
    </head>
    <body>
        <div class="center">
            <h1>Join Team</h1>
            <form method="post">
                {% csrf_token %}

                {% block content %}
                <div class="txt_field">
                    <input id="teamname" type="text" name = "name" maxlength="8" required>
                    <label>Team Name</label>
                </div>
                <div class="txt_field">
                    <input id="pin1" type="number" name="pin1" maxlength="4" required>
                    <label>Pin</label>
                </div>
                <input type="submit" value="Join Team">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}

                <div class="signup_link">
                    <a href="{% url 'createteam' %}">What to create your own team? Click Here</a>
                </div>
                <div class="signup_link">
                    <a href="/teams/{{user.id}}">Cancel</a>
                </div>
                {% endblock %}
            </form>
        </div>

    </body>
</html>

