<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <style>
            .button {
            display: inline-block;
            width: 100px;
            height: 50px;
            padding: 10px;
            text-align: center;
            border: black;
            background-color: #165397;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
        }
.divider{
    width:100px;
    height:50px;
    display:inline-block;
}
        </style>
        <meta charset="UTF-8">
        <title>Join Team Page</title>
        {% load static %}
        <link rel= "stylesheet" href="{%static 'style1.css' %}">
    </head>
    <body>
        <div class="center">
            <h1>Join Team</h1>
            <form method="GET" >
                {% csrf_token %}
                <div class="txt_field">
                    <input id="join_code" type="text" name="join_code" required>
                    <label>Join Code</label>
                </div>
                <div class="divider"> </div>
                <button class = "button", onclick="joinTeam(request)" >Submit</button>
                <div class="signup_link">
                    <a href="/teams/{{user.id}}">Cancel</a>
                </div>
            </form>
        </div>

    </body>
</html>
