
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'style1.css'%}">

    </head>
    <body>
        <div class="center">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}

                {% block content %}
                <div class="txt_field">
                    <input id="username" type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input id="password" type="text" name="password" required>
                    <label>Password</label>
                </div>
                <div class="pass">Forgot Password</div>
                <input type="submit" value="Login">


                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                     {% endfor %}
                {% endif %}

                <div class="signup_link">
                    <a href="/accounts/register/">Not a member? Sign up here</a>

                </div>
                {% endblock %}
            </form>
        </div>

    </body>
</html>