
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   .column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Method</title>
    {% load static %}
        <link rel="stylesheet" href="{%static 'newsStyle.css'%}">
</head>
<body>
    <div id="container">
        <div id="logo">Method</div>
        <div id="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'scores' %}">Scores</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li id="login"><a href="/accounts/login/">Login</a></li>
            </ul>
        </div>
    </div>
<div>
    <div class="row">
  <div class="column">
      <div id= "twitterfeed">
        <a class="twitter-timeline" data-width="1400" data-height="500" href="https://twitter.com/marchmadness?ref_src=twsrc%5Etfw">Tweets by marchmadness</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="column">

  </div>
  <div class="column">
  </div>
    </div>
</body>

</html>

