<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Method</title>
    {% load static %}
    <link rel= "stylesheet" href="{%static 'scoreStyle.css' %}">
</head>

<style>
* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #165397;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #A6DCFF;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 700%;
}

.teams {
 font-family: sans-serif;
 font-size:40px;
 font-weight: normal;
}
.moved {
  transform: translate(2px);
}

#first {background-color: #7BB4DA;}
#second {background-color: #7BB4DA;}
#sweet {background-color: #7BB4DA;}
#elite {background-color: #7BB4DA;}
#final {background-color: #7BB4DA}

</style>
<body>

<div id="container">
        <div id="logo">Method</div>
        <div id="navbar">
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'scores'%}">Scores</a></li>
                <li><a href="{% url 'news'%}">News</a></li>
                <li id="login"><a href="/accounts/login/">Login</a></li>
        </div>
 </div>

<button class="tablink" onclick="openPage('first', this, '#7BB4DA')" id="defaultOpen">First Round</button>
<button class="tablink" onclick="openPage('second', this, '#7BB4DA')">Second Round</button>
<button class="tablink" onclick="openPage('sweet', this, '#7BB4DA')">Sweet 16</button>
<button class="tablink" onclick="openPage('elite', this, '#7BB4DA')">Elite 8</button>
<button class="tablink" onclick="openPage('final', this, '#7BB4DA')">Final Four/Championship</button>

<script language="JavaScript">
    function createSRC(img_name) {
        return "method/project/static/team_img";
    }
const a1 = "{% static 'team_img/colgate.svg'%}";
const image = document.getElementById("img_nam");
image.src = a1;
</script>

<script></script>

<div id="first" class="tabcontent">
    <div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/virginia-tech.svg'%}" height="87" width="100" id="img_nam" />
            {{teamL.8}} <div class=moved"> {{teamL.9}}</div>

            <p><img src="{% static 'team_img/florida.svg'%}" alt="name" height="87" width="100" />
            <b>{{teamW.8}} {{teamW.9}}</b></p>
        </div>
    </div>
    <div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/colgate.svg'%}" alt="name" height="87" width="100" />
        {{teamL.10}} {{teamL.11}}
            <p><img src="{% static 'team_img/arkansas.svg'%}" alt="name" height="87" width="100" />
                <b>{{teamW.10}} {{teamW.11}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/drexel.svg'%}" alt="name" height="87" width="100" />
        {{teamL.12}} {{teamL.13}}
        <p><img src="{% static 'team_img/illinois.svg'%}" alt="name" height="87" width="100" />
            <b>{{teamW.12}} {{teamW.13}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/utah-st.svg'%}" alt="name" height="87" width="100" />
       {{teamL.14}} {{teamL.15}}
            <p><img src="{% static 'team_img/texas-tech.svg'%}" alt="name" height="87" width="100" />
                <b>{{teamW.14}} {{teamW.15}}</b></p>
        </div>
    </div>
      <div class="bottom_boxed">
          <div class="teams">
              <img src="{% static 'team_img/ohio-st.svg'%}" alt="name" height="87" width="100" />
            {{teamL.16}} {{teamL.17}}
              <p><img src="{% static 'team_img/oral-roberts.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.16}} {{teamW.17}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/hartford.svg'%}" alt="name" height="87" width="100" />
            {{teamL.18}} {{teamL.19}}
            <p><img src="{% static 'team_img/baylor.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.18}} {{teamW.19}}</b></p>
          </div>
    </div>
        <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/georgia-tech.svg'%}" alt="name" height="87" width="100" />
            {{teamL.20}} {{teamL.21}}
            <p><img src="{% static 'team_img/loyola-chicago.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.20}} {{teamW.21}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/tennessee.svg'%}" alt="name" height="87" width="100" />
            {{teamL.22}} {{teamL.23}}
            <p><img src="{% static 'team_img/oregon-st.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.22}} {{teamW.23}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/liberty.svg'%}" alt="name" height="87" width="100" />
            {{teamL.24}} {{teamL.25}}
            <p><img src="{% static 'team_img/oklahoma-st.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.24}} {{teamW.25}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/north-carolina.svg'%}" alt="name" height="87" width="100" />
            {{teamL.26}} {{teamL.27}}
            <p><img src="{% static 'team_img/wisconsin.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.26}} {{teamW.27}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/cleveland-st.svg'%}" alt="name" height="87" width="100" />
            {{teamL.28}} {{teamL.29}}
            <p><img src="{% static 'team_img/houston.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.28}} {{teamW.29}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/purdue.svg'%}" alt="name" height="87" width="100" />
            {{teamL.30}} {{teamL.31}}
            <p><img src="{% static 'team_img/north-texas.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.30}} {{teamW.31}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/clemson.svg'%}" alt="name" height="87" width="100" />
            {{teamL.32}} {{teamL.33}}
            <p><img src="{% static 'team_img/rutgers.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.32}} {{teamW.33}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/san-diego-st.svg'%}" alt="name" height="87" width="100" />
            {{teamL.34}} {{teamL.35}}
            <p><img src="{% static 'team_img/syracuse.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.34}} {{teamW.35}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/winthrop.svg'%}" alt="name" height="87" width="100" />
        {{teamL.36}} {{teamL.37}}
            <p><img src="{% static 'team_img/villanova.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.36}} {{teamW.37}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/morehead-st.svg'%}" alt="name" height="87" width="100" />
            {{teamL.38}} {{teamL.39}}
            <p><img src="{% static 'team_img/west-virginia.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.38}} {{teamW.39}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
       <div class="teams">
           <img src="{% static 'team_img/georgetown.svg'%}" alt="name" height="87" width="100" />
            {{teamL.40}} {{teamL.41}}
            <p><img src="{% static 'team_img/colorado.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.40}} {{teamW.41}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/unc-greensboro.svg'%}" alt="name" height="87" width="100" />
            {{teamL.42}} {{teamL.43}}
            <p><img src="{% static 'team_img/florida-st.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.42}} {{teamW.43}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/eastern-wash.svg'%}" alt="name" height="87" width="100" />
            {{teamL.44}} {{teamL.45}}
            <p><img src="{% static 'team_img/kansas.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.44}} {{teamW.45}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/st-bonaventure.svg'%}" alt="name" height="87" width="100" />
        {{teamL.46}} {{teamL.47}}
            <p><img src="{% static 'team_img/LSU.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.46}} {{teamW.47}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/texas-southern.svg'%}" alt="name" height="87" width="100" />
        {{teamL.48}} {{teamL.49}}
            <p><img src="{% static 'team_img/michigan.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.48}} {{teamW.49}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/uc-santa-barbara.svg'%}" alt="name" height="87" width="100" />
        {{teamL.50}} {{teamL.51}}
            <p><img src="{% static 'team_img/creighton.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.50}} {{teamW.51}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/iona.svg'%}" alt="name" height="87" width="100" />
        {{teamL.52}} {{teamL.53}}
            <p><img src="{% static 'team_img/alabama.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.52}} {{teamW.53}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/drake.svg'%}" alt="name" height="87" width="100" />
        {{teamL.54}} {{teamL.55}}
            <p><img src="{% static 'team_img/southern-california.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.54}} {{teamW.55}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/grand-canyon.svg'%}" alt="name" height="87" width="100" />
        {{teamL.56}} {{teamL.57}}
            <p><img src="{% static 'team_img/iowa.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.56}} {{teamW.57}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/uconn.svg'%}" alt="name" height="87" width="100" />
       {{teamL.58}} {{teamL.59}}
            <p><img src="{% static 'team_img/maryland.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.58}} {{teamW.59}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/virginia.svg'%}" alt="name" height="87" width="100" />
        {{teamL.60}} {{teamL.61}}
            <p><img src="{% static 'team_img/ohio.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.60}} {{teamW.61}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/missouri.svg'%}" alt="name" height="87" width="100" />
       {{teamL.62}} {{teamL.63}}
            <p><img src="{% static 'team_img/oklahoma.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.62}} {{teamW.63}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/norfolk-st.svg'%}" alt="name" height="87" width="100" />
        {{teamL.64}} {{teamL.65}}
            <p><img src="{% static 'team_img/gonzaga.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.64}} {{teamW.65}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/BYU.svg'%}" alt="name" height="87" width="100" />
        {{teamL.66}} {{teamL.67}}
            <p><img src="{% static 'team_img/UCLA.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.66}} {{teamW.67}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/VCU.svg'%}" alt="name" height="87" width="100" />
       {{teamL.68}} {{teamL.69}}
            <p><img src="{% static 'team_img/oregon.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.68}} {{teamW.69}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/texas.svg'%}" alt="name" height="87" width="100" />
        {{teamL.70}} {{teamL.71}}
            <p><img src="{% static 'team_img/abilene-christian.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.70}} {{teamW.71}}</b></p>
        </div>
    </div>

</div>

<div id="second" class="tabcontent">
  <div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/illinois.svg'%}" alt="name" height="87" width="100" />
        {{teamL.72}} {{teamL.73}}
            <p><img src="{% static 'team_img/loyola-chicago.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.72}} {{teamW.73}}</b></p>
        </div>
    </div>
<div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/wisconsin.svg'%}" alt="name" height="87" width="100" />
        {{teamL.74}} {{teamL.75}}
            <p><img src="{% static 'team_img/baylor.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.74}} {{teamW.75}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/west-virginia.svg'%}" alt="name" height="87" width="100" />
        {{teamL.76}} {{teamL.77}}
            <p><img src="{% static 'team_img/syracuse.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.76}} {{teamW.77}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/texas-tech.svg'%}" alt="name" height="87" width="100" />
        {{teamL.78}} {{teamL.79}}
            <p><img src="{% static 'team_img/arkansas.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.78}} {{teamW.79}}</b></p>
        </div>
    </div>
      <div class="bottom_boxed">
          <div class="teams">
              <img src="{% static 'team_img/rutgers.svg'%}" alt="name" height="87" width="100" />
        {{teamL.80}} {{teamL.81}}
            <p><img src="{% static 'team_img/houston.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.80}} {{teamW.81}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/florida.svg'%}" alt="name" height="87" width="100" />
        {{teamL.82}} {{teamL.83}}
            <p><img src="{% static 'team_img/oral-roberts.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.82}} {{teamW.83}}</b></p>
          </div>
    </div>
        <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/north-texas.svg'%}" alt="name" height="87" width="100" />
        {{teamL.84}} {{teamL.85}}
            <p><img src="{% static 'team_img/villanova.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.84}} {{teamW.85}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/oklahoma-st.svg'%}" alt="name" height="87" width="100" />
        {{teamL.86}} {{teamL.87}}
            <p><img src="{% static 'team_img/oregon-st.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.86}} {{teamW.87}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/iowa.svg'%}" alt="name" height="87" width="100" />
      {{teamL.88}} {{teamL.89}}
            <p><img src="{% static 'team_img/oregon.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.88}} {{teamW.89}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/oklahoma.svg'%}" alt="name" height="87" width="100" />
       {{teamL.90}} {{teamL.91}}
            <p><img src="{% static 'team_img/gonzaga.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.90}} {{teamW.91}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/abilene-christian.svg'%}" alt="name" height="87" width="100" />
        {{teamL.92}} {{teamL.93}}
            <p><img src="{% static 'team_img/ucla.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.92}} {{teamW.93}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/ohio.svg'%}" alt="name" height="87" width="100" />
        {{teamL.94}} {{teamL.95}}
            <p><img src="{% static 'team_img/creighton.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.94}} {{teamW.95}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/LSU.svg'%}" alt="name" height="87" width="100" />
       {{teamL.96}} {{teamL.97}}
            <p><img src="{% static 'team_img/michigan.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.96}} {{teamW.97}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/colorado.svg'%}" alt="name" height="87" width="100" />
        {{teamL.98}} {{teamL.99}}
            <p><img src="{% static 'team_img/oregon-st.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.98}} {{teamW.99}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/maryland.svg'%}" alt="name" height="87" width="100" />
        {{teamL.100}} {{teamL.101}}
            <p><img src="{% static 'team_img/alabama.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.100}} {{teamW.101}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/kansas.svg'%}" alt="name" height="87" width="100" />
        {{teamL.102}} {{teamL.103}}
            <p><img src="{% static 'team_img/southern-california.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.102}} {{teamW.103}}</b></p>
          </div>
    </div>
</div>

<div id="sweet" class="tabcontent">
  <div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/loyola-chicago.svg'%}" alt="name" height="87" width="100" />
            {{teamL.104}} {{teamL.105}}
            <p><img src="{% static 'team_img/oregon-st.svg'%}" alt="name" height="87" width="100" />
                <b>{{teamW.104}} {{teamW.105}}</b></p>
        </div>
    </div>
<div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/villanova.svg'%}" alt="name" height="87" width="100" />
        {{teamL.106}} {{teamL.107}}
            <p><img src="{% static 'team_img/baylor.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.106}} {{teamW.107}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/oral-roberts.svg'%}" alt="name" height="87" width="100" />
        {{teamL.108}} {{teamL.109}}
            <p><img src="{% static 'team_img/arkansas.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.108}} {{teamW.109}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/syracuse.svg'%}" alt="name" height="87" width="100" />
        {{teamL.110}} {{teamL.111}}
            <p><img src="{% static 'team_img/houston.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.110}} {{teamW.111}}</b></p>
        </div>
    </div>
      <div class="bottom_boxed">
          <div class="teams">
              <img src="{% static 'team_img/creighton.svg'%}" alt="name" height="87" width="100" />
        {{teamL.112}} {{teamL.113}}
            <p><img src="{% static 'team_img/gonzaga.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.112}} {{teamW.113}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/florida-st.svg'%}" alt="name" height="87" width="100" />
        {{teamL.114}} {{teamL.115}}
            <p><img src="{% static 'team_img/michigan.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.114}} {{teamW.115}}</b></p>
          </div>
    </div>
        <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/alabama.svg'%}" alt="name" height="87" width="100" />
        {{teamL.116}} {{teamL.117}}
            <p><img src="{% static 'team_img/ucla.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.116}} {{teamW.117}}</b></p>
          </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/oregon.svg'%}" alt="name" height="87" width="100" />
        {{teamL.118}} {{teamL.119}}
            <p><img src="{% static 'team_img/southern-california.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.118}} {{teamW.119}}</b></p>
          </div>
    </div>
</div>

<div id="elite" class="tabcontent">
  <div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/oregon-st.svg'%}" alt="name" height="87" width="100" />
            {{teamL.120}} {{teamL.121}}
            <p><img src="{% static 'team_img/houston.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.120}} {{teamW.121}}</b></p>
        </div>
    </div>
<div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/arkansas.svg'%}" alt="name" height="87" width="100" />
        {{teamL.122}} {{teamL.123}}
            <p><img src="{% static 'team_img/baylor.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.122}} {{teamW.123}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/southern-california.svg'%}" alt="name" height="87" width="100" />
        {{teamL.124}} {{teamL.125}}
            <p><img src="{% static 'team_img/gonzaga.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.124}} {{teamW.125}}</b></p>
        </div>
    </div>
    <div class="bottom_boxed">
        <div class="teams">
            <img src="{% static 'team_img/michigan.svg'%}" alt="name" height="87" width="100" />
        {{teamL.126}} {{teamL.127}}
            <p><img src="{% static 'team_img/UCLA.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.126}} {{teamW.127}}</b></p>
        </div>
    </div>
</div>

<div id="final" class="tabcontent">
  <h3>Final Four Results</h3>
    <div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/houston.svg'%}" alt="name" height="87" width="100" />
            {{teamL.128}} {{teamL.129}}
            <p><img src="{% static 'team_img/baylor.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.128}} {{teamW.129}}</b></p>
        </div>
    </div>
<div class="boxed">
        <div class="teams">
            <img src="{% static 'team_img/ucla.svg'%}" alt="name" height="87" width="100" />
        {{teamL.130}} {{teamL.131}}
            <p><img src="{% static 'team_img/gonzaga.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.130}} {{teamW.131}}</b></p>
        </div>
    </div>
    <h3>Championship results</h3>
    <div class="champion">
        <div class="teams">
            <img src="{% static 'team_img/gonzaga.svg'%}" alt="name" height="87" width="100" />
        {{teamL.132}} {{teamL.133}}
            <p><img src="{% static 'team_img/baylor.svg'%}" alt="name" height="87" width="100" /><b>{{teamW.132}} {{teamW.133}}</b></p>
        </div>
    </div>
</div>


<script>
// code to open page tabs
function openPage(pageName,elmnt,color) {

  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");

  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablink");

  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

document.getElementById("defaultOpen").click();
</script>

</body>
</html>

