
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Method</title>
    {% load static %}
    <link rel= "stylesheet" href="{%static 'teamsStyle.css' %}">
</head>
<body>
    <div id="container">
        <div id="logo">Method</div>
        <div id="navbar">
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'scores'%}">Scores</a></li>
                <li><a href="{% url 'teams'%}">Teams</a></li>
                <li><a href="{% url 'news'%}">News</a></li>
                <li id="login"><a href="{% url 'login'%}">Login</a></li>
            </ul>
        </div>
    </div>
    <div id="button"><a href="{% url 'createteam'%}">Create Team</a></div>
    <h2>Join Team</h2>
    <div><form>
        <label for="invite">Enter Invite Code:</label><br>
        <input type="text" id="invite" name="invite"><br>
      </form></div>
</body>
</html>