<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Method</title>
    {% load static %}
    <link rel= "stylesheet" href="{%static 'style.css' %}">
</head>
<body>
    <div id="container">
        <div id="logo">Method</div>
        <div id="navbar">
            <ul>
                <li><a href="/accounts/login/home/{{user.id}}">Home</a></li>
                <li><a href="/scores/{{user.id}}">Scores</a></li>
                <li><a href="#">My Brackets</a></li>
                <li><a href="{% url 'teams'%}">Teams</a></li>
                <li><a href="/news/">News</a></li>
                <li id="login"><a href="{% url 'home' %}">Log Out</a></li>

        </div>

        <div id= "image">
            <h1>Welcome, {{user.user_name}}!</h1>
            <img src="{% static 'img/i.png'%}" alt="i png">

        </div>

        <button id="CreateBtn" class="btnStyle" onclick="document.location.href = '/createBracket/{{user.id}}'">Create Bracket </button>


    </div>
</body>
</html>