<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   .column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Method</title>
    {% load static %}
        <link rel="stylesheet" href="{%static 'newsStyle.css'%}">
</head>
<body>
    <div id="container">
        <div id="logo">Method</div>
        <div id="navbar">
            <ul>
                <li><a href="/accounts/login/home/{{user.id}}">Home</a></li>
                <li><a href="/scores/{{user.id}}">Scores</a></li>
                <li><a href="/myBracket/{{user.id}}">My Brackets</a></li>
                <li><a href="/teams/{{user.id}}">Teams</a></li>
                <li><a href="/news/{{user.id}}">News</a></li>
                <li id="login"><a href="{% url 'home' %}">Log Out</a></li>
            </ul>
        </div>
    </div>
<div>
</div>
    <div class="row">
        <div class="column">
            <div id= "twitterfeed">
                <a class="twitter-timeline" data-width="1400" data-height="500" href="https://twitter.com/marchmadness?ref_src=twsrc%5Etfw">Tweets by marchmadness</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="column">
             <div id = "twitterfeed">
                <a class="twitter-timeline" data-width="1400" data-height="500" href="https://twitter.com/NCAAWBB?ref_src=twsrc%5Etfw">Tweets by NCAAWBB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="column">
             <div if = "twitterfeed">
                <a class="twitter-timeline" ata-width="1400" data-height="500" href="https://twitter.com/NCAA?ref_src=twsrc%5Etfw">Tweets by NCAA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
    </div>
    </div>
</body>

</html>

